<md-card class="panel-card panel-form-card md-whiteframe-1dp md-padding">
	<md-card-content>
		<form role="form" name="thisForm">
			<h2 class="md-title">Application Settings</h2>
			<md-divider></md-divider>
			<p class="hint"><b>Tax</b>: added to each product price at checkout.
			<br><b>Featured news</b>: maximum number of items shown on the app home screen. Recommended: 5.</p>

			<br>
			<div layout="row">
				<md-input-container flex="30">
					<label>Currency</label>
					<md-select ng-model="selected_currency">
						<md-option ng-repeat="cur in arr_currency" value="{{cur.code}}" selected="{{cur.code===conf_currency?'selected':''}}"> 
							{{cur.code}} - {{cur.name}} 
						</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div layout="row" layout-align="start center">
				<md-input-container flex="10">
					<label>Tax</label>
					<input type="number" required name="tax" ng-model="conf_tax" maxlength="4">
				</md-input-container>
				<legend flex="5"><b>%</b></legend>
				<md-input-container flex="15">
					<label>Featured news</label>
					<input type="number" required name="featured_news" ng-model="conf_featured_news" maxlength="1">
				</md-input-container>
			</div>

			<div layout="row" layout-align="start start">
				<md-input-container flex="50">
					<label>Shipping methods</label>
					<md-chips ng-model="conf_shipping" required></md-chips>
				</md-input-container>
				<md-button md-no-ink class="md-primary" ng-click="resetShipping()" style="margin-top:20px;">Clear</md-button>
			</div>

			<br>
			<h2 class="md-title">Email Settings</h2>
			<md-divider></md-divider>
			<p class="hint">
				<b>Email on new order</b>: sends order details to the <i>customer</i> and configured <i>admin recipients</i>.
				<br><b>Email after processing</b>: notifies the <i>customer</i> when an order is processed.
				<br><b>Sender email</b>: receives customer replies to order messages.</p>
			<br>

			<div layout="column" layout-align="start start">
				<md-checkbox ng-model="conf_email_notif_on_order">Email on new order</md-checkbox>
				<md-checkbox ng-model="conf_email_notif_on_order_process">Email after processing</md-checkbox>
			</div>
			<br><br>
			<div layout="row" layout-align="start center">
				<md-input-container flex="30">
					<label>Sender email</label>
					<input type="text" required ng-model="conf_email_reply_to" maxlength="50">
				</md-input-container>
			</div>

			<div layout="row" layout-align="start start">
				<md-input-container flex="50">
					<label>Admin email recipients</label>
					<md-chips ng-model="conf_email_receiver" required readonly="!conf_email_notif_on_order"></md-chips>
				</md-input-container>
				<md-button md-no-ink class="md-primary" ng-click="resetEmailReceiver()" style="margin-top:20px;">Clear</md-button>
			</div>
			<br><br>

			<div layout="row" layout-align="end center" flex="100">
				<md-button ng-if="!submit_loading_conf" ng-disabled="thisForm.$invalid || !isReadySubmitConf()" ng-click="submitConf()" class="md-raised md-accent">
					Save
				</md-button>
				<md-progress-circular ng-if="submit_loading_conf" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
			</div>

		</form>
	</md-card-content>
</md-card>

<br>
<md-card class="md-whiteframe-1dp md-padding">
	<md-card-content>
		<h2 class="md-title">Panel User Settings</h2>
		<form role="form" name="thisFormUser">
			<div layout="row">
				<md-input-container flex="30">
					<label>Name</label>
					<input name="name" minlength="1" maxlength="50" ng-model="userdata.name" required />
					<div ng-messages="thisForm.name.$error">
						<div ng-message='required'>Required.</div>
						<div ng-message='minlength'>At least 1 character.</div>
					</div>
				</md-input-container>
				<div flex="5"></div>
				<md-input-container flex="30">
					<label>Email</label>
					<input type="email" minlength="5" maxlength="50" name="email" ng-model="userdata.email" required />
					<div ng-messages="thisForm.email.$error">
						<div ng-message='required'>Required.</div>
						<div ng-message='minlength'>At least 10 characters.</div>
					</div>
				</md-input-container>
			</div>


			<div layout="row">
				<md-input-container flex="30">
					<label>Username</label>
					<input name="username" minlength="1" maxlength="20" ng-model="userdata.username" required />
					<div ng-messages="thisForm.username.$error">
						<div ng-message='required'>Required.</div>
						<div ng-message='minlength'>At least 5 characters.</div>
					</div>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container flex="30">
					<label>Password</label>
					<input type="password" name="password" ng-model="userdata.password" required />
					<div ng-messages="thisForm.password.$error">
						<div ng-message='required'>Required.</div>
					</div>
				</md-input-container>
				<div flex="5"></div>
				<md-input-container flex="30">
					<label>Confirm password</label>
					<input type="password" name="re_password" ng-model="re_password" />
					<div ng-if="!isPasswordMatch() || !re_passwordValid" class="red-alert">Passwords do not match.</div>
				</md-input-container>
			</div>
			<div layout="row" layout-align="end center" flex="100">
				<md-button ng-if="!submit_loading" ng-disabled="!isPasswordMatch() || thisFormUser.$invalid || demo_version || isClean()" ng-click="submit(true)" class="md-raised md-accent">
					Add New
				</md-button>
				<md-button ng-if="!submit_loading" ng-disabled="!isPasswordMatch() || thisFormUser.$invalid || demo_version || isClean()" ng-click="submit(false)" class="md-raised md-accent">
					Update
				</md-button>
				<md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
			</div>

		</form>
	</md-card-content>
</md-card>

