<section layout="column" flex layout-align="center center" class="login">
  <md-card class="md-whiteframe-0dp" style="min-width:350px;" >
      <md-toolbar>
          <div layout="column" layout-padding layout-align="center center" class="md-padding" style="padding-top:20px;padding-bottom:20px;">
            <md-icon md-svg-src="lib/css/icons/web_icon.svg" style="color:#FFFFFF;width:60px;height:60px;margin:5px;"></md-icon>
            <div>Honarnama Admin</div>
          </div>
      </md-toolbar>
      <md-card-content>
          <form role="form" name="loginForm" class="md-padding login-form" ng-submit="doLogin()" novalidate>

              <div class="login-field">
                <label for="login-username">Username</label>
                <input id="login-username" class="login-input" name="username" autocomplete="username" ng-model="userdata.username" required/>
              </div>

              <div class="login-field">
                <label for="login-password">Password</label>
                <input id="login-password" class="login-input" type="password" name="password" autocomplete="current-password" ng-model="userdata.password" required />
              </div>

              <div layout="column" layout-align="center center">
                <md-button type="submit" ng-if="!submit_loading" ng-disabled="loginForm.$invalid" class="md-raised md-accent" flex="50">Log In</md-button>
                <md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
              </div>
          </form>
      </md-card-content>
  </md-card>
</section>
